.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.boardContainer {
    display: flex;
    flex-direction: column;
}

.rollButton {
    width: 90px;
    margin: 5px;
}

