.square {
    width: 75px;
    height: 75px;
    border: 2px solid black;
    position: relative;
}

.dice {
    // TODO: Use Sass magic to combine shared square and dice properties 
    //       OR make the dice component inherit from squre (not sure if you can do this)
    width: 75px;
    height: 75px;
    border: 2px solid black;

    margin: 2px;
}

.removeButton {
    bottom: 0;
    right: 0;
    position: absolute;
}

.rotateButton {
    width: 25px;
    height: 25px;
    position: absolute;
}

.turnNumber {
    top:0px;
    right:0px;
    position: absolute;
}
 
figure{
    width: 25px;
    height: 25px; // container-width
    overflow:hidden; // hide bounds of image 
    margin:0;   // reset margin of figure tag

    img{
        display:block; // remove inline-block spaces
        width:100%; // make image streatch

        .removeButton{
            // crop remove button
            margin:-20% 0;
        }
    }
}