.square {
    width: 75px;
    height: 75px;
    border: 2px solid black;
    position: relative;
}

.dice {
    // TODO: Use Sass magic to combine shared square and dice properties 
    //       OR make the dice component inherit from squre (not sure if you can do this)
    width: 75px;
    height: 75px;
    border: 2px solid black;

    margin: 2px;
}

.rotateButton {
    width: 25px;
    height: 25px;
    position: absolute;
}

.turnNumber {
    top:0px;
    right:0px;
    position: absolute;
}