.square {
    width: 75px;
    height: 75px;
    border: 2px solid black;
    position: relative;
}

.lowerRightButton {
    bottom: 0;
    right: 0;
    position: absolute;
    user-select: none;
}

.upperLeftButton {
    position: absolute;
    user-select: none;
}

.turnNumber {
    top:0px;
    right:0px;
    position: absolute;
    user-select: none;
}
 
figure{
    overflow:hidden; // hide bounds of image 
    margin:0;   // reset margin of figure tag

    img{
        display:block; // remove inline-block spaces
        width:100%; // make image streatch
    }
}

.removeButton{
    width: 15px;
    margin-right: 2px;
    margin-bottom: 2px;
}

.rotateButton{
    width: 22px;
    margin-top: 2px;
}

.exitCell {
    padding: 0px 2px;
}

.exitCellSide {
    padding: 2px 0px;
}

.invalidBoarder {
    border-color: red;
}

.validBoarder {
    border-color: green;
}